@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(53, 0, 122);
    --display-text: 'Comfortaa', sans-serif;
    --main-text: 'Roboto', sans-serif;
    font-family: var(--main-text);
    background-color: var(--main-color);
}

.desktop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('./temp_bg.gif');
    background-size: cover;
    background-position: center;
}

.splash {
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    animation: wipeoff .5s 2s forwards;
}

.splash .logo {
    position: absolute;
    text-align: center;
    width: fit-content;
    top: 30%;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: var(--display-text);
    font-weight: bold;
    letter-spacing: -3px;
    animation: dropdown 1s ease-out forwards;
}

.splash .logo .iconify {
    color: rgb(249, 172, 83);
    position: absolute;
}

.splash .logo .iconify:first-child {
    top: -1.5rem;
    left: 1.5rem;
    transform: rotate(45deg);
}

.splash .logo .iconify:nth-child(2) {
    right: 22px;
    color: white;
    font-size: .5em;
    top: 8px;
}

.splash .logo .iconify:last-child {
    bottom: -1rem;
    right: .5rem;
    font-size: .7em;
    transform: rotate(15deg);
}

@keyframes dropdown {
    0% {
        top: -100%;
        opacity: 0;
    }

    50% {
        top: 25%;
        opacity: 0;
    }

    70% {
        top: 31%;
    }

    100% {
        top: 30%;
        opacity: 1;
    }
}

@keyframes wipeoff {
    100% {
        position: absolute;
        height: 110vh;
        opacity: 0;
    }
}

/* MOBILE */
@media only screen and (max-width: 775px) {

    .desktop {
        display: flex;
        flex-direction: column;
        color: white;
        font-family: var(--display-text);
        text-shadow: 2px 2px rgba(0, 0, 0, .5);
    }

    .taskbar {
        position: relative;
        margin-top: 50px;
    }

    .tooltip {
        display: none;
    }

    .clock {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: white;
        font-family: var(--display-text);
        text-shadow: 2px 2px rgba(0, 0, 0, .5);
        user-select: none;
    }

    .clock span:first-child {
        font-size: 3rem;
    }

    .taskbar> :not(.clock) {
        display: none;
    }

    a {
        color:inherit;
        /* text-decoration: none; */
    }

    .apps-container {
        flex: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 90px);
        margin: 5px 5px 20px;
        justify-content: space-evenly;
        align-content: end;
        align-items: start;
        gap: 5px;
    }

    .app-icon,
    .bookmark-icon {
        display: flex;
        flex-direction: column;
        width: fit-content;
        font-size: .9rem;
        align-items: center;
        justify-content: start;
        gap: 5px;
        width: 90px;
        text-align: center;
        cursor: pointer;
    }

    .app-icon .iconify,
    .bookmark-icon .iconify {
        /* border: solid 1px black; */
        font-size: 2.5rem;
        padding: 5px;
        border-radius: 5px;
    }

    .documents .iconify {
        background-color: #7A0045;
    }

    .browser .iconify {
        background-color: #7A007A;
    }

    .games .iconify {
        background-color: #68007A;
    }

    .trash .iconify {
        background-color: #5E007A;
    }

    .diddit .iconify {
        background-color: #52007A;
    }

    .weather .iconify {
        background-color: #45007A;
    }

    .music .iconify {
        background-color: #35007A;
    }

    .news .iconify {
        background-color: #16007A;
    }

    .contact .iconify {
        background-color: #7A0045;
    }

    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: solid 1px;
        display: flex;
    }

    .modal-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .now-playing.container {
        width: 200px;
        height: 200px;
        border-radius: 5px;
        margin: 10px;
        background: rgb(94, 0, 122);
        background: linear-gradient(90deg, rgba(94, 0, 122, 1) 20%, rgba(69, 0, 122, 1) 100%);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .file-explorer {
        flex: auto;
        display: flex;
        flex-direction: column;
    }

    .window-header {
        font-size: 1.1rem;
        padding: 10px;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .modal .back-button {
        font-size: 2rem;
        cursor: pointer;
    }

    .file-explorer main {
        background-color: rgb(22, 22, 22);
        flex: auto;
        display: flex;
        color: white;
        position: relative;
    }

    .file-explorer.documents-container header,
    .file-window header {
        background-color: #7A0045;
    }

    .file-explorer .file {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        gap: 2px;
        margin: 20px;
        cursor: pointer;
        text-align: center;
    }

    .file .iconify {
        font-size: 3rem;
    }

    .file .file-info {
        font-size: .8rem;
        color: rgba(255, 255, 255, 0.5)
    }

    .file-explorer .files-description {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 20px;
    }

    .modal-inner object {
        width: 100%;
        flex: auto;
    }

    .browser-header,
    .browser-footer {
        background-color: rgb(36, 36, 36);
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .browser-header .iconify,
    .browser-footer .iconify {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.5);
    }

    .browser-header .search-bar {
        flex: auto;
        background-color: rgb(0, 0, 0);
        padding: 5px;
        color: rgba(255, 255, 255, .5);
        border-radius: 5px;
    }

    .browser-footer {
        justify-content: space-around;
        padding: 15px;
    }

    .browser-body {
        flex: 1;
        background-color: rgb(49, 49, 49);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        color: rgba(255,255,255,.7);
    }

    .browser-body > header {
        font-family: var(--display-text);
        display: flex;
        padding: 20px;
        font-size: 1.5rem;
        align-items: center;
        gap: 5px;
    }

    .browser-logo {
        color: rgb(249, 172, 83);
    }

    .browser-body .work h2, .browser-body .bookmarks h2 {
        margin: 5px;
        font-weight: 400;
        grid-column: 1 / -1;
        border-bottom: solid 1px;
        padding-bottom: 5px;
        width: 100%;
    }

    .work,
    .bookmarks {
        display: grid;
        grid-template-columns: repeat(auto-fill, 90px);
        padding: 10px;
        gap: 10px;
        justify-content: center;
        justify-items: center;
    }

    .bookmark-icon .iconify {
        background-color: rgba(255, 255, 255, .5);
        width: 50px;
        height: 50px;
        font-size:2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .iconify.diddit {
        color: rgb(114, 76, 211);
    }
    .iconify.rainey {
        color:rgb(81, 138, 113)
    }
    .iconify.minecraft {
        color:rgb(128, 0, 128);
    }
    .iconify.cookie {
        color:rgb(133, 54, 54)
    }
    .iconify.caffeine {
        color: rgb(4, 58, 80);
    }

    .content {
        flex:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content header {
        text-align: center;
    }

    .content h2 {
        font-family: var(--display-text);
        font-size:2rem;
    }

    .content h3 {
        font-weight: normal;
    }

    .content img {
        width: calc(100% - 40px);
        max-width: 500px;
        margin:10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    }

    .content a {
        color:#7A0045;
    }

    .content p {
        margin:20px;
        background-color: white;
        color:black;
        padding: 20px;
        max-width: 500px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    }

    .content.diddit {
        background-color: rgb(114, 76, 211);
    }
    .content.rainey {
        background-color:rgb(81, 138, 113)
    }
    .content.minecraft {
        background-color: rgb(122, 0, 69);
    }
    .content.gina-tharin {
        background-color:rgb(11, 79, 134);
    }
    .content.caffeine {
        background-color: rgb(0, 128, 128);
    }

    .file-explorer.games-container {
        background-color: #45007A;
    }
}

/* DESKTOP */
@media only screen and (min-width: 776px) {
    .tooltip {
        position: fixed;
    }

    .taskbar {
        position: fixed;
        width: 100%;
        border: solid 1px;
        bottom: 0;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .app-tray {
        flex: auto;
    }

    .clock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}